@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5e5;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.app {
  max-width: 1010px;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  height: auto;
  position: relative;
  padding: 0 36px 17px;
  background-color: #fff;
}

.content {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 36px;
  justify-items: center;
}
